:root {
    --bg-primary: #504333;
    --bg-primary-light: #f7f4f0;
    --bg-white: #ffffff;
    --border-white: #ffffff;
    --font-primary: #504333;
    --font-black: #333333;
    --font-white: #ffffff;
    --font-base: #5d5d5d;
}

:root {
    --font-family-jp: "Noto Serif JP", serif;
    --font-family-en: "Montserrat", sans-serif;
}

body {
    font-family: var(--font-family-jp);
    color: var(--font-base);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}


