/*!
global > color
------------------------------
*/

:root {
    // background color
    --bg-primary: #504333;
    --bg-primary-light: #f7f4f0;
    --bg-white: #ffffff;
    // border color
    --border-white: #ffffff;
    // font color
    --font-primary: #504333;
    --font-black: #333333;
    --font-white: #ffffff;
    --font-base: #5d5d5d;
}
